nav {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
  
  position: relative;
  &.active {
    width: 240px;
  }
  &.inactive {
    button {
      right: -34px;
    }
  }
  button {
    background-color: transparent;
    position: absolute;
    right: 0;
  }
  h2 {
    font-size: 1.2rem;
    margin: 0;
    margin-block: 1rem -1rem;
    padding-left: 1rem;
  }
  ul {
    border-bottom: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-block: 1rem;
    a {
      color: black;
      display: block;
      padding-inline: 1rem;
      &:hover,
      &:focus {
        background-color: black;
        color: white;
      }
    }
    &:last-child {
      border: 0;
    }
  }
}
