#dynamicGrid {
  background-color: #edede9;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  list-style: none;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  > li {
    padding: 1rem;
    transition: padding 0.25s;
    &:hover {
      padding: 1.25rem;
    }
  }
  h2 {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    a {
      border-bottom: 1px solid transparent;
      color: black;
      display: block;
      &:hover,
      &:focus {
        border-bottom-color: black;
      }
    }
  }
}
