$leftNavWidth: 240px;

*,
*::before,
*::after {
  border: none;
  box-sizing: border-box;
  font-family: 'Barlow', system-ui, sans-serif;
}
*:focus:not(:focus-visible) {
  outline: none;
}

#root {
  max-width: 1280px;
  min-width: 360px;
  margin: 0 auto;
  padding: 0;
}

main {
  display: flex;
    column-gap: 0;
  justify-content: flex-start;
  align-items: flex-start;
  &.active {
    grid-template-columns: $leftNavWidth 1fr;
    column-gap: 2rem;
  }
  & > section {
    width: calc(100% - ($leftNavWidth + 40px));
    margin: 0 auto;
  }
}

a:focus {
  outline: none;
}
